//Day Theme
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,700;1,700&display=swap');

/* ------ Devices dimensions ------*/
$pc-size-min: 1024px;
$pc-size-max: 1440px;

/* ------ Font styles ------*/
$font-family: 'Chakra Petch', sans-serif;

/* ------ Font sizes------*/
$main-font-size: 14px;
$button-font-size: 16px;
$header-font-size: 20px;

/* ------ Line Heights ------*/
$main-line-height: 18px;
$button-line-height: 22px;
$header-line-height: 26px;

/* ------ Color Palette ------*/
$main-font-color: #110038;
$white: #FFFFFF;
$background-color: rgb(247, 233, 245);
$transition-pink: #F7C9F3;
$transition-blue: #4180F6;
$bttn-pink: #F7C9F3;
$bttn-pink-onhover: #E6BBE2;
$header-border-color: #E6BBE2;
$header-background-color: #FFFAFE;
$inner-shadow-color: #997D97;
$border-color: #110038;
$box-background: #E6E6E6;
$box-shadow: #B4B4B4;
$cancel-bttn-color: #FFF4FD;